.DAT_Content {
    margin-top: 58px;
    height: 100vh;
    background-color: #f2f6fc;
    flex: 1;
    overflow-y: scroll;

    &-Header {
        background-color: #0061f2;
        width: 100%;
        height: 259.6px;

        &-Main {
            display: flex;
            padding: 32px;

            &-Dashboard {
                width: 95%;
                flex: 5;
                margin: auto;

                &-Heading {
                    display: flex;
                    align-items: center;
                    font-size: 36px;
                    font-weight: 500px;
                    color: white;
                    height: 36px;
                }

                &-SubHead {
                    height: 27px;
                    font-size: 18.4px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-top: 4px;
                }
            }

            &_Right {
                display: flex;
                align-items: center;
                background-color: white;
                padding-right: 12px;
                border-radius: 7px;

                &_Icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

    &-Container {
        margin-bottom: 100px;
        margin-top: -100px;

        &-ProjectHistory {
            position: relative;
            gap: 10px;
            width: 95%;
            margin: auto;
            background-color: white;
            margin-bottom: 20px;
            border-radius: 7px;
            overflow: hidden;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

            &-Head {
                background-color: rgb(219, 219, 219);
                border-bottom: solid 1px rgb(186, 186, 186);
                height: 50px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                z-index: 2;
            }

            &-Body {
                padding: 20px;
                z-index: 2;

                & table,
                td,
                th {
                    border-collapse: collapse;
                    border: 1px solid black;
                }

                & table {
                    margin: 20px 0;
                    width: 100%;
                }
            }
        }

        &-Group {
            display: flex;
            gap: 10px;
            width: 95%;
            margin: auto;

            &-ListTag {
                margin-bottom: 24px;
                width: 100%;
                background-color: white;
                border-radius: 10px;
                box-shadow: 4px 4px 4px 4px rgb(136, 136, 136, 0.2);
                cursor: pointer;

                &:hover {
                    box-shadow: 4px 4px 4px 4px rgb(136, 136, 136, 0.3);
                    transform: translateY(-5%);
                    transition: 0.2s ease-in-out;
                }

                &-Tag {
                    height: 148px;
                    display: flex;
                    justify-self: flex-end;
                    align-items: center;
                    justify-items: center;
                    padding: 21.6px;
                    justify-content: space-between;

                    & img {
                        display: flex;
                        width: 128px;
                        height: 133px;
                    }

                    &-Info {
                        justify-content: center;

                        & svg {
                            margin-bottom: 16px;
                        }

                        &-Head {
                            white-space: nowrap;
                            font-size: 17.6px;
                            font-weight: bold;
                            margin-bottom: 8px;
                        }

                        &-Sub {
                            height: 60px;
                            color: rgb(128, 128, 128, 0.7);
                            font-size: 14px;

                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        &-Card {
            width: 95%;
            margin: auto;
            background-color: white;
            margin-bottom: 24px;
            box-shadow: 4px 4px 4px 4px rgb(136, 136, 136, 0.2);
            border-radius: 10px;

            &-Body {
                padding: 40px 0px;
                width: 95%;
                margin: auto;

                &-Center {
                    &-Img {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        margin-bottom: 24px;

                        & img {
                            height: 160px;
                        }
                    }

                    &-Text {
                        text-align: center;
                        padding: 0px 40px;

                        & h5 {
                            font-size: 17.6px;
                            margin-top: 0px;
                            margin-bottom: 8px;
                        }

                        & p {
                            display: block;
                            font-size: 16px;
                            margin: 0px 0px 40px;
                        }

                        & a {
                            padding: 16px;
                            background-color: #0061f2;
                            text-decoration: none;
                            color: white;
                            border-radius: 10px;
                            font-size: 14px;
                            margin-top: 24px;
                            cursor: pointer;
                        }
                    }
                }
            }

            &-Header {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 16px 0px 16px;
                color: blue;
                background-color: whitesmoke;
                border-bottom: solid 1px rgb(156, 155, 155, 0.2);
                font-weight: 500;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;

                &-Icon {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &:hover {
                        background-color: rgb(156, 155, 155, 0.2);
                    }
                }
            }

            &-Reset {
                margin-left: 16px;
                margin-top: 16px;
                padding: 8px;
                border-radius: 5px;
                border: none;
                background-color: rgb(66, 100, 255);
                color: white;
            }

            &-Chart {
                display: flex;
                position: relative;

                &-Ylabel {
                    position: absolute;
                    top: 220px;
                    transform: rotate(-90deg);
                }

                &-Barchart {
                    padding: 0px 16px 0px 40px;
                    flex: 1;
                }
            }

            &-Xlabel {
                display: flex;
                justify-content: center;
                padding-bottom: 16px;
            }

            &-Edit {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                background-color: rgb(0, 0, 0, 0.5);

                &-Group {
                    width: 500px;
                    margin: auto;
                    background-color: #f2f6fc;
                    margin-top: calc(100vh/6);
                    border-radius: 10px;

                    &-Tit {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0px 16px 0px 16px;
                        color: blue;
                        background-color: whitesmoke;
                        border-bottom: solid 1px rgb(156, 155, 155, 0.2);
                        font-weight: 500;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;

                        &-Close {
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;

                            &:hover {
                                background-color: rgb(156, 155, 155, 0.2);
                            }
                        }
                    }

                    &-Row1 {
                        padding: 8px 16px 0px 16px;

                        & input {
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            padding: 8px;
                            width: 100%;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;

                            &:focus-within {
                                box-shadow: 0px 0px 0px 4px rgb(66, 100, 255, 0.5);
                            }
                        }

                        & button {
                            border: none;
                            padding: 8px;
                            border-radius: 10px;
                            background-color: rgb(66, 100, 255);
                            color: white;
                        }
                    }

                    &-Row2 {
                        padding: 0px 16px 16px 16px;

                        & input {
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            padding: 8px;
                            width: 100%;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;

                            &:focus-within {
                                box-shadow: 0px 0px 0px 4px rgb(66, 100, 255, 0.5);
                            }
                        }

                        & button {
                            border: none;
                            padding: 8px;
                            border-radius: 10px;
                            background-color: rgb(66, 100, 255);
                            color: white;
                        }
                    }

                    &-Buttons {
                        display: flex;
                        gap: 8px;
                        padding: 16px 16px 16px 16px;

                        & input {
                            outline: none;
                            border: none;
                            border-radius: 10px;
                            padding: 8px;
                            width: 100%;
                            box-sizing: border-box;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;

                            &:focus-within {
                                box-shadow: 0px 0px 0px 4px rgb(66, 100, 255, 0.5);
                            }
                        }

                        & span {
                            width: 280px;
                            display: flex;
                            align-items: center;
                        }

                        & button {
                            border: none;
                            padding: 8px;
                            border-radius: 10px;
                            background-color: rgb(66, 100, 255);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}