.DAT_ExportReport {
    background-color: rgb(182, 195, 219, 0.2);
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    margin-top: 58px;

    &-Header {
        background-color: #0061f2;
        width: 100%;
        height: 259.6px;

        &-Dashboard {
            width: 95%;
            margin: auto;
            padding-top: 48px;

            &-Heading {
                display: flex;
                align-items: center;
                font-size: 36px;
                font-weight: 500px;
                color: white;
                height: 36px;
            }

            &-SubHead {
                width: 459px;
                height: 27px;
                font-size: 18.4px;
                color: rgba(255, 255, 255, 0.5);
                margin-top: 4px;
            }
        }
    }

    &-Main {
        position: relative;
        margin: auto;
        margin-top: -96px;
        margin-bottom: 100px;
        background-color: white;
        width: 95%;
        border-radius: 10px;
        box-shadow: 4px 4px 4px 4px rgb(136, 136, 136, 0.2);

        &-Nav {
            padding-top: 24px;
            margin-left: 24px;
            margin-right: 24px;
            border-bottom: solid 1px rgb(199, 199, 199);
            display: flex;
            gap: 24px;
            margin-bottom: 24px;

            &-Item {
                padding-bottom: 10px;
                cursor: pointer;
            }
        }

        &-Content {
            margin: 24px;
        }
    }
}

.DAT_ListForm {
    &-Head {
        display: flex;

        &-Center {
            flex: 4;
            display: flex;
            height: 44px;

            &-Form {
                background-color: whitesmoke;
                display: flex;
                width: 240px;
                align-items: center;
                border-radius: 7px;
                border: solid 4px whitesmoke;

                & input {
                    background-color: whitesmoke;
                    width: 188px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    border: solid 0px whitesmoke;
                    padding-left: 20px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    outline: none;
                }

                &-Icon {
                    width: 52px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &:focus-within {
                    border: solid 4px rgb(66, 100, 255, 0.5);
                }
            }
        }

        &-Add {
            flex: 4;
            display: flex;
            height: 44px;
            justify-content: flex-end;

            & button {
                margin-right: 8px;
                width: 50px;
                border: none;
                color: white;
                background-color: #0061f2;
                font-weight: 400;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &-Form {
                background-color: whitesmoke;
                display: flex;
                width: 240px;
                align-items: center;
                border-radius: 7px;
                border: solid 4px whitesmoke;

                & input {
                    background-color: whitesmoke;
                    width: 188px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    border: solid 0px whitesmoke;
                    padding-left: 20px;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                    outline: none;
                }

                &-Icon {
                    width: 52px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                &:focus-within {
                    border: solid 4px rgb(66, 100, 255, 0.5);
                }
            }
        }
    }

    &-Text {
        width: 100px;
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: right;
    }

    &-Config {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-Group {
            padding: 8px;
            width: 230px;
            // margin: auto;
            background-color: #f2f6fc;
            // margin-top: auto;
            border-radius: 10px;

            &-Tit {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;

                &-Close {
                    height: 30px;
                    width: 30px;
                    background-color: white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;

                    &:hover {
                        background-color: rgb(156, 155, 155, 0.2);
                    }
                }
            }

            & input {
                outline: none;
                border: none;
                border-radius: 5px;
                padding: 8px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;

                &:focus-within {
                    box-shadow: 0px 0px 0px 4px rgb(66, 100, 255, 0.5);
                }
            }

            & button {
                margin-left: 8px;
                border: none;
                padding: 8px;
                border-radius: 5px;
                background-color: rgb(66, 100, 255);
                color: white;
            }
        }
    }
}

.DAT_UploadFile {
    padding-bottom: 16px;

    &-Form {
        margin: auto;
        width: 400px;
        padding: 10px;
        border: 2px dashed #0061f2;
        border-radius: 10px;

        & button {
            height: 40px;
            border: none;
            color: white;
            background-color: #0061f2;
            font-weight: 500;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
    }

    &-Info {
        padding: 10px;
        border: 1px solid #0061f2;
        border-radius: 10px;
    }

    &-Select {
        padding-top: 16px;
        margin: auto;

        &-Form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            padding-bottom: 16px;

            & select {
                border-radius: 5px;
                height: 20px;
            }
        }

        & button {
            height: 40px;
            border: none;
            color: white;
            background-color: #0061f2;
            font-weight: 400;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        & span {
            color: red;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;
        }
    }
}

.DAT_History {
    &-Barchart {
        padding-bottom: 16px;
    }
}